
/Dev/frontend/react-app/node_modules/.cache
Dev/frontend/react-app/node_modules/.cache/.eslintcache
Dev/frontend/react-app/node_modules/.cache/default-development/1.pack
Dev/frontend/react-app/node_modules/.cache/default-development/2.pack
Dev/frontend/react-app/node_modules/.cache/default-development/index.pack
Dev/frontend/react-app/node_modules/.cache/default-development/index.pack.old
/Dev/frontend/react-app/node_modules
