.flex-box {
  display: flex;
  justify-content: space-around;

  .li {
    width: 42%;
    img {
      width: 70%;
      margin: 0 auto;
    }
    .main-card{
      height: 37.25rem;

    }
    .main-card-tit {
      font-size: 22px;
    }

    .main-btn {
      margin: 0 auto;
      margin-top: 30px;
      display: block;
    }
  }

  .description-list {
    li {
      margin-top: 10px;
      margin-left: 20px;
    }
  }
}